<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (clientes.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Data de Nascimento</th>
                        <th scope="col">Saldo devedor</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% clientes.forEach((cliente, index) => { %>
                        <tr>
                            <th scope="row"><%= cliente.clientesId %></th>
                            <th scope="row"><a   data-toggle="modal" href="#myModal"><%= cliente.nome %></a></th>

                            <td><%= cliente.dataNascimento %></td>
                            <td><%= cliente.saldoDevedor %></td>
                            <td>
                                <a href="/edit/<%= cliente.clientesId %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/delete/<%= cliente.clientesId %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">Não há clientes cadastrados. Clique <a href="/add" >aqui</a> para adicionar clientes.</p>
        <% } %>
    </div>
</div>
</body>
</html>
